<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#E3F2FD">
    <title>{{i18n "NAVBAR_DONATE" locale=lang}}</title>
    <link href="/static/css/custom/loader.css" type="text/css" rel="stylesheet" media="screen">
</head>
<body class="blue lighten-5">
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
{{> templates/navbar.hbs}}
<h3 class="light grey-text text-lighten-1 page-heading">{{i18n "NAVBAR_DONATE" locale=lang}}</h3>
<form method="post" action="http://localhost:8083/banklink/ipizza">
        <!-- include all values as hidden form fields -->
        <input type="hidden" name="VK_SERVICE" value="{{vK_SERVICE}}">
        <input type="hidden" name="VK_VERSION" value="{{vK_VERSION}}">
        <input type="hidden" name="VK_SND_ID" value="{{vK_SND_ID}}">
        <input type="hidden" name="VK_STAMP" value="{{vK_STAMP}}">
        <input type="hidden" name="VK_AMOUNT" value="{{vK_AMOUNT}}">
        <input type="hidden" name="VK_CURR" value="{{vK_CURR}}">
        <input type="hidden" name="VK_ACC" value="{{vK_ACC}}">
        <input type="hidden" name="VK_NAME" value="{{vK_NAME}}">
        <input type="hidden" name="VK_REF" value="{{vK_REF}}">
        <input type="hidden" name="VK_LANG" value="{{vK_LANG}}">
        <input type="hidden" name="VK_MSG" value="{{vK_MSG}}">
        <input type="hidden" name="VK_RETURN" value="{{vK_RETURN}}">
        <input type="hidden" name="VK_CANCEL" value="{{vK_CANCEL}}">
        <input type="hidden" name="VK_DATETIME" value="{{vK_DATETIME}}">
        <input type="hidden" name="VK_ENCODING" value="{{vK_ENCODING}}">
        <input type="hidden" name="VK_MAC" value="{{vK_MAC}}">
    <table>
        <tbody><tr>
            <td><strong><code>VK_SERVICE</code></strong></td>
            <td><code>{{vK_SERVICE}}</code></td>
        </tr>
        <tr>
            <td><strong><code>VK_VERSION</code></strong></td>
            <td><code>{{vK_VERSION}}</code></td>
        </tr>
        <tr>
            <td><strong><code>VK_SND_ID</code></strong></td>
            <td><code>{{vK_SND_ID}}</code></td>
        </tr>
        <tr>
            <td><strong><code>VK_STAMP</code></strong></td>
            <td><code>{{vK_STAMP}}</code></td>
        </tr>
        <tr>
            <td><strong><code>VK_AMOUNT</code></strong></td>
            <td><code>{{vK_AMOUNT}}</code></td>
        </tr>
        <tr>
            <td><strong><code>VK_CURR</code></strong></td>
            <td><code>{{vK_CURR}}</code></td>
        </tr>
        <tr>
            <td><strong><code>VK_ACC</code></strong></td>
            <td><code>{{vK_ACC}}</code></td>
        </tr>
        <tr>
            <td><strong><code>VK_NAME</code></strong></td>
            <td><code>{{vK_NAME}}</code></td>
        </tr>
        <tr>
            <td><strong><code>VK_REF</code></strong></td>
            <td><code>{{vK_REF}}</code></td>
        </tr>
        <tr>
            <td><strong><code>VK_LANG</code></strong></td>
            <td><code>{{vK_LANG}}</code></td>
        </tr>
        <tr>
            <td><strong><code>VK_MSG</code></strong></td>
            <td><code>{{vK_MSG}}</code></td>
        </tr>
        <tr>
            <td><strong><code>VK_RETURN</code></strong></td>
            <td><code>{{vK_RETURN}}</code></td>
        </tr>
        <tr>
            <td><strong><code>VK_CANCEL</code></strong></td>
            <td><code>{{vK_CANCEL}}</code></td>
        </tr>
        <tr>
            <td><strong><code>VK_DATETIME</code></strong></td>
            <td><code>{{vK_DATETIME}}</code></td>
        </tr>
        <tr>
            <td><strong><code>VK_ENCODING</code></strong></td>
            <td><code>{{vK_ENCODING}}</code></td>
        </tr>
        <tr>
            <td><strong><code>VK_MAC</code></strong></td>
            <td><code>{{vK_MAC}}</code></td>
        </tr>

    <tr><td colspan="2"><input type="submit" value="Edasi panga lehele" /></td></tr>
    </table>
</form>


<script type="text/javascript" src="/static/js/fallback.min.js"></script>
<script async type="text/javascript" src="/static/js/loaders/ui.js"></script>
</body>
</html>