<footer class="page-footer cyan">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Movie Diary</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="grey-text text-lighten-3" href="{{userPage}}">{{userName}} | </a>
                <a class="grey-text text-lighten-3" href="{{homePage}}">{{i18n "NAVBAR_HOME" locale=lang}} | </a>
                <a class="grey-text text-lighten-3" href="{{moviesPage}}">{{i18n "NAVBAR_MOVIES" locale=lang}} | </a>
                <a class="grey-text text-lighten-3" href="{{seriesPage}}">{{i18n "NAVBAR_SERIES" locale=lang}} | </a>
                <a class="grey-text text-lighten-3" href="{{historyPage}}">{{i18n "NAVBAR_HISTORY" locale=lang}} | </a>
                <a class="grey-text text-lighten-3" href="{{statisticsPage}}">
                    {{i18n "NAVBAR_STATISTICS" locale=lang}} |
                </a>
                <a class="grey-text text-lighten-3" href="{{wishlistPage}}">{{i18n "NAVBAR_WISHLIST" locale=lang}}</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © Alar Leemet, Kristen Kotkas, Kristjan Hendrik Küngas
        </div>
    </div>
</footer>