<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#00bcd4">
    <title>{{i18n "FORM_LOGIN_TITLE" locale=lang}}</title>
    <link href="/static/css/custom/loader.min.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/static/css/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/static/css/custom/materialize.min.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/static/css/custom/base.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/static/css/custom/page-center.css" type="text/css" rel="stylesheet" media="screen">
</head>
<body class="cyan login-body">
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<div class="row">
    <div class="col s12 z-depth-0 card-panel">
        <form class="login-form" method="post" action="{{callbackUrl}}">
            <div class="row">
                <div class="input-field col s12 center">
                    <h5 class="center grey-text">{{i18n "LOGIN_TITLE" locale=lang}}</h5>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="fa fa-user-o prefix" aria-hidden="true"></i>
                    <input id="username" type="email" name="username" required>
                    <label for="username">{{i18n "FORM_LOGIN_EMAIL" locale=lang}}</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="fa fa-lock prefix" aria-hidden="true"></i>
                    <input id="password" type="password" name="password" required>
                    <label for="password">{{i18n "FORM_LOGIN_PASSWORD" locale=lang}}</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <button type="submit" class="btn waves-effect waves-light col s12 z-depth-0">
                        <i class="fa fa-sign-in left"></i>{{i18n "LOGIN_TITLE" locale=lang}}
                    </button>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <a href="{{registerUrl}}" type="submit" class="btn waves-effect waves-light col s12 btn z-depth-0">
                        <i class="fa fa-pencil-square-o left "></i>{{i18n "FORM_LOGIN_REGISTER" locale=lang}}
                    </a>
                </div>
            </div>
            <div class="row"></div>
        </form>
    </div>
</div>
<script defer type="text/javascript" src="/static/js/jquery.min.js"></script>
<script defer type="text/javascript" src="/static/js/custom/materialize.min.js"></script>
<script defer type="text/javascript" src="/static/js/loaded.js"></script>
<script async type="text/javascript" src="/static/js/load-worker.js"></script>
</body>
</html>