<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#E3F2FD">
    <title>{{i18n "NAVBAR_HISTORY" locale=lang}}</title>
    <link href="/static/css/custom/loader.css" type="text/css" rel="stylesheet" media="screen">
</head>
<body class="blue lighten-5">
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
{{> templates/navbar.hbs}}
<h3 class="light grey-text text-lighten-1 page-heading">{{i18n "NAVBAR_HISTORY" locale=lang}}</h3>
<div class="row">
    <div class="col s12 m12 l12">
        <div class="col s12 m4 l3 offset-l1">
            <div class="card z-depth-0">
                <div class="card-content">
                    <span class="card-title">{{i18n "HISTORY_FILTERS" locale=lang}}</span>
                    <div class="row">
                        <div class="input-field login-text">
                            <input id="seenFirst" type="checkbox">
                            <label for="seenFirst" class="tooltipped"
                                   data-position="right"
                                   data-tooltip="{{i18n "HISTORY_WAS_FIRST_TOOLTIP" locale=lang}}">
                                <i class="fa fa-eye" aria-hidden="true">
                                </i>&ensp; {{i18n "HISTORY_WAS_FIRST" locale=lang}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field login-text">
                            <input id="wasCinema" type="checkbox">
                            <label for="wasCinema" class="tooltipped"
                                   data-position="right"
                                   data-tooltip="{{i18n "HISTORY_WAS_CINEMA_TOOLTIP" locale=lang}}">
                                <i class="fa fa-ticket" aria-hidden="true">
                                </i>&ensp; {{i18n "HISTORY_WAS_CINEMA" locale=lang}}
                            </label>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="row">
                        <div class="input-field login-text">
                            <input id="startingDay" type="date" class="datepicker">
                            <label for="startingDay">{{i18n "HISTORY_START_DAY" locale=lang}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field login-text">
                            <input id="endDay" type="date" class="datepicker">
                            <label for="endDay">{{i18n "HISTORY_END_DAY" locale=lang}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field row">
                            <button id="Search" type="submit"
                                    class="btn waves-effect waves-light col s12 z-depth-0">
                                <i class="fa fa-search left"></i>{{i18n "HISTORY_SEARCH" locale=lang}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m8 l7" id="viewsTitle"></div>
        <div class="col s12 m8 l7">
            <div class="card z-depth-0">
                <table class="highlight">
                    <thead class="grey-text">
                    </thead>
                    <tbody id="table" class="grey-text">
                    </tbody>
                </table>
                <div>
                    <table class="highlight">
                        <tbody id="load-more-holder" class="grey-text">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/fallback.min.js"></script>
<script async type="text/javascript" src="/static/js/loaders/ui.js"></script>
<script async type="text/javascript" src="/static/js/loaders/eventbus.js"></script>
<script async type="text/javascript" src="/static/js/pages/history.js"></script>
</body>
</html>