<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#E3F2FD">
    {{> templates/favicon.hbs}}
    <title>Movie Diary | {{i18n "NAVBAR_HOME" locale=lang}}</title>
    <link href="/static/css/custom/loader.min.css" type="text/css" rel="stylesheet" media="screen">
    <noscript>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              type="text/css" rel="stylesheet" media="screen">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"
              type="text/css" rel="stylesheet" media="screen">
        <link href="/static/css/custom/base.css" type="text/css" rel="stylesheet" media="screen">
    </noscript>
</head>
<body class="blue lighten-5">
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
{{> templates/navbar.hbs}}
<main>
    <h3 class="light grey-text text-lighten-1 page-heading">{{i18n "HOME_HELLO" locale=lang}} {{userFirstName}}</h3>
    <div class="row"></div>
    <div class="row">
        <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <div class="col s12 m6 l6">
                <!-- Top 5 movies -->
                <div class="col s12 m12 l12 grey-text text-darken-2 card z-depth-0">
                    <ul class="collapsible z-depth-0" data-collapsible="accordion" id="top-movies-header">
                        <li>
                            <div class="collapsible-header">
                                <h5 class="grey-text text-darken-3 plot-title">{{i18n "HOME_TOP_MOVIES"
                                                                                      locale=lang}}</h5>
                            </div>
                            <div class="home-content-card collapsible-body white">
                                <span class="grey-text" id="times-seen" hidden>{{i18n "HOME_TIMES_SEEN"
                                                                                      locale=lang}}</span>
                                <table class="bordered highlight">
                                    <tbody id="top-movies-tbody">
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Last 5 movies  -->
                <div class="col s12 m12 l12 grey-text text-darken-2 card z-depth-0">
                    <ul class="collapsible z-depth-0" data-collapsible="accordion" id="last-views-header">
                        <li>
                            <div class="collapsible-header">
                                <h5 class="plot-title"><a class="grey-text text-darken-3 home-link"
                                                          href="{{historyPage}}">{{i18n "HOME_LAST_VIEWS"
                                                                                        locale=lang}}</a></h5>
                            </div>
                            <div class="home-content-card collapsible-body white">
                                <table class="bordered highlight">
                                    <tbody id="last-movies-tbody">
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Today in hisotry -->
                <div class="col s12 m12 l12 grey-text text-darken-2 card z-depth-0">
                    <ul class="collapsible z-depth-0" data-collapsible="accordion" id="today-history-header">
                        <li>
                            <div class="collapsible-header">
                                <h5 class="plot-title">
                                    <a class="grey-text text-darken-3 home-link" href="{{historyPage}}">{{i18n
                                            "HOME_TODAY_HISTORY" locale=lang}}</a>
                                </h5>
                            </div>
                            <div class="home-content-card collapsible-body white">
                                <table class="bordered highlight">
                                    <tbody id="today-history-tbody">
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <!-- Total stats -->
                <div class="col s12 m12 l12 grey-text text-darken-2 card z-depth-0">
                    <ul class="collapsible z-depth-0" data-collapsible="accordion" id="stats-header">
                        <li>
                            <div class="collapsible-header">
                                <h5 class="grey-text text-darken-3 plot-title">
                                    <a class="grey-text text-darken-3 home-link" href="{{statisticsPage}}">{{i18n
                                            "HOME_TOTAL_STATISTICS" locale=lang}}</a>
                                </h5>
                            </div>
                            <div class="home-content-card collapsible-body white">
                                <table class="bordered">
                                    <tbody id="total-stats-tbody">
                                    <tr>
                                        <td class="grey-text">{{i18n "HOME_TOTAL_VIEWS" locale=lang}}</td>
                                        <td class="content-key grey-text text-darken-1 right">
                                            <span id="total-views"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="grey-text">{{i18n "HOME_TOTAL_NEW_MOVIES" locale=lang}}</td>
                                        <td class="content-key grey-text text-darken-1 right">
                                            <span id="total-new-movies"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="grey-text">{{i18n "HOME_TOTAL_DIFFERENT_MOVIES" locale=lang}}</td>
                                        <td class="content-key grey-text text-darken-1 right">
                                            <span id="total-different-movies"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="grey-text">{{i18n "HOME_TOTAL_CINEMA" locale=lang}}</td>
                                        <td class="content-key grey-text text-darken-1 right">
                                            <span id="total-cinema-visits"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="grey-text">{{i18n "HOME_TOTAL_RUNTIME" locale=lang}}</td>
                                        <td class="content-key grey-text text-darken-1 right">
                                            <span id="total-runtime"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="grey-text">{{i18n "HOME_AVERAGE_RUNTIME" locale=lang}}</td>
                                        <td class="content-key grey-text text-darken-1 right">
                                            <span id="average-runtime"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Wishlist -->
                <div class="col s12 m12 l12 grey-text text-darken-2 card z-depth-0">
                    <ul class="collapsible z-depth-0" data-collapsible="accordion" id="wishlist-header">
                        <li>
                            <div class="collapsible-header">
                                <h5 class="plot-title">
                                    <a class="grey-text text-darken-3 home-link" href="{{listsPage}}">{{i18n
                                            "HOME_LATEST_LISTS" locale=lang}}</a>
                                </h5>
                            </div>
                            <div class="home-content-card collapsible-body white">
                                <table class="bordered highlight">
                                    <tbody id="wishlist-tbody">
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="page-footer cyan">
    <div class="row">
        <div class="col s12 m3 l2">
            <img src="/static/img/logo_vana_2.svg" alt="MovieDiary logo" class="footer-logo">
        </div>
        <div class="col s12 m9 l10">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Movie Diary</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 m3 l2">
                        <img src="https://www.themoviedb.org/assets/1/v4/logos/powered-by-rectangle-blue-61ce76f69ce1e4f68a6031d975df16cc184d5f04fa7f9f58ae6412646f2481c1.svg"
                             alt="TMDb logo">
                    </div>
                    <p class="col s12 m8 l9">
                <span class="grey-text text-lighten-3">
                    This product uses the TMDb API but is not endorsed or certified by TMDb.
                </span>
                    </p>
                </div>
                <div class="row">
                    <div class="col">
                        <!--<a class="grey-text text-lighten-3 home-link" href="{{userPage}}">{{userName}}</a><span class="grey-text text-lighten-3"> | </span>-->
                        <a class="grey-text text-lighten-3 home-link" href="{{homePage}}">{{i18n "NAVBAR_HOME"
                                                                                                 locale=lang}}</a><span
                            class="grey-text text-lighten-3"> | </span>
                        <a class="grey-text text-lighten-3 home-link" href="{{moviesPage}}">{{i18n "NAVBAR_MOVIES"
                                                                                                   locale=lang}}</a><span
                            class="grey-text text-lighten-3"> | </span>
                        <a class="grey-text text-lighten-3 home-link" href="{{seriesPage}}">{{i18n "NAVBAR_SERIES"
                                                                                                   locale=lang}}</a><span
                            class="grey-text text-lighten-3"> | </span>
                        <a class="grey-text text-lighten-3 home-link" href="{{historyPage}}">{{i18n "NAVBAR_HISTORY"
                                                                                                    locale=lang}}</a><span
                            class="grey-text text-lighten-3"> | </span>
                        <a class="grey-text text-lighten-3 home-link" href="{{statisticsPage}}">{{i18n
                                "NAVBAR_STATISTICS" locale=lang}}</a><span class="grey-text text-lighten-3"> | </span>
                        <!--<a class="grey-text text-lighten-3 home-link" href="{{wishlistPage}}">{{i18n
                                "NAVBAR_WISHLIST" locale=lang}}</a><span class="grey-text text-lighten-3"> | </span>-->
                        <a class="grey-text text-lighten-3 home-link" href="{{listsPage}}">{{i18n "NAVBAR_LISTS"
                                                                                                  locale=lang}}</a>
                        <!--<a class="grey-text text-lighten-3 home-link" href="{{discoverPage}}">Discover</a>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{{logoutUrl}}" class="grey-text text-lighten-3 home-link">
                            {{i18n "USER_LOGOUT" locale=lang}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © Alar Leemet, Kristen Kotkas, Kristjan Hendrik Küngas
            <a href="https://github.com/kristenkotkas/moviediary" target="_blank" class="github-logo-cont">
                <img src="/static/img/github_logo_2.svg" alt="GitHub logo" class="github-logo">
            </a>
        </div>
    </div>
</footer>
<script defer type="text/javascript" src="/static/js/custom/loader.js"></script>
<script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script defer type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script defer type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script defer type="text/javascript" src="/static/js/custom/vertx-eventbus.js"></script>
<script defer type="text/javascript" src="/static/js/pages/home.js"></script>
</body>
</html>