<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#00bcd4">
    {{> templates/favicon.hbs}}
    <title>Movie Diary | {{i18n "LOGIN_TITLE" locale=lang}}</title>
    <link href="/static/css/custom/loader.min.css" type="text/css" rel="stylesheet" media="screen">
    <noscript>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              type="text/css" rel="stylesheet" media="screen">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"
              type="text/css" rel="stylesheet" media="screen">
        <link href="/static/css/custom/base.css" type="text/css" rel="stylesheet" media="screen">
        <link href="/static/css/custom/page-center.css" type="text/css" rel="stylesheet" media="screen">
    </noscript>
</head>
<body class="cyan">
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<header class="hide-on-med-and-down">
    <img src="/static/img/logo_vana_2.svg" alt="MovieDiary logo" class="index-logo-top">
</header>
<main id="login-body">
    <div class="row">
        <div class="col l12 m12 s12">
            <div class="row">
                <div class="col z-depth-0 hide-on-med-and-down index-description-container">
                    <h4 class="white-text desc-line">
                        <i class="fa fa-angle-double-right black-text"></i>
                        {{i18n "LOGIN_DESC_I" locale=lang}}
                    </h4>
                    <h4 class="white-text desc-line">
                        <i class="fa fa-angle-double-right black-text"></i>
                        {{i18n "LOGIN_DESC_II" locale=lang}}
                    </h4>
                    <h4 class="white-text desc-line">
                        <i class="fa fa-angle-double-right black-text"></i>
                        {{i18n "LOGIN_DESC_III" locale=lang}}
                    </h4>
                    <h5 class="white-text desc-line">
                        {{i18n "LOGIN_DESC_IV" locale=lang}}
                    </h5>
                </div>
                <div class="col z-depth-0">
                    <form class="login-form">
                        <div class="row hide-on-large-only"></div>
                        <div class="row hide-on-large-only">
                            <img src="/static/img/logo_vana_2.svg" alt="MovieDiary logo" class="index-logo">
                        </div>
                        {{#if displayMessage}}
                            <div class="row">
                                <div class="input-field col s12 center">
                                    <h5 class="center red-text white display-msg">
                                        <i class="fa fa-times"></i>
                                        {{displayMessage}}
                                        <i class="fa fa-times"></i>
                                    </h5>
                                </div>
                            </div>
                        {{/if}}
                        <div class="row margin">
                            <div class="input-field col s12">
                                <a href="{{formUrl}}"
                                   class="login-btn btn waves-effect waves-light col s12 z-depth-0 white grey-text text-darken-4">
                                    <i class="fa fa-sign-in left"></i>{{i18n "LOGIN_PASSWORD" locale=lang}}
                                </a>
                            </div>
                        </div>
                        <div class="row margin">
                            <div class="input-field col s12">
                                <a href="{{facebookUrl}}"
                                   class="login-btn btn waves-effect waves-light col s12 white blue-text text-darken-4 z-depth-0">
                                    <i class="fa fa-facebook-f left"></i>{{i18n "LOGIN_FACEBOOK" locale=lang}}
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <a href="{{googleUrl}}"
                                   class="login-btn btn waves-effect white waves-light col s12 red-text z-depth-0">
                                    <i class="fa fa-google left"></i>{{i18n "LOGIN_GOOGLE" locale=lang}}
                                </a>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="row no-margin-bottom">
                            <div class="input-field col s12">
                                <a href="{{recommenderUrl}}"
                                   class="login-btn btn waves-effect waves-light col s12 z-depth-0 white grey-text text-darken-4">
                                    <i class="fa fa-film left"></i>{{i18n "LOGIN_RECOMMENDER" locale=lang}}
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <a href="{{descToGenreUrl}}"
                                   class="login-btn btn waves-effect waves-light col s12 z-depth-0 white grey-text text-darken-4">
                                    <i class="fa fa-film left"></i>{{i18n "LOGIN_DESC_TO_GENRE" locale=lang}}
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <table class="lang-buttons">
                                <tbody>
                                <tr class="lang-buttons">
                                    <td class="center lang-buttons">
                                        <div class="input-field right lang-buttons">
                                            <a href="{{loginPage}}?lang=en">
                                                <img id="lang-eng" class="flag" alt="Choose English"
                                                     src="/static/img/eng.svg"
                                                     width="50" height="50">
                                            </a>
                                        </div>
                                    </td>
                                    <td class="center lang-buttons">
                                        <div class="input-field left lang-buttons">
                                            <a href="{{loginPage}}?lang=et">
                                                <img id="lang-est" class="flag" alt="Choose Estonian"
                                                     src="/static/img/est.svg"
                                                     width="50" height="50">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script defer type="text/javascript" src="/static/js/custom/loader.js"></script>
<script defer type="text/javascript" src="/static/js/pages/login.js"></script>
</body>
</html>