<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#00bcd4">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{i18n "LOGIN_TITLE" locale=lang}}</title>
    <link href="/static/css/custom/loader.css" type="text/css" rel="stylesheet" media="screen">
</head>
<body class="cyan login-body" id="login-body">
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<div class="row">
    <div class="col s12 z-depth-0 card-panel">
        <form class="login-form">
            <div class="row">
                <div class="input-field col s12 center">
                    <h5 class="center grey-text">{{i18n "LOGIN_TITLE" locale=lang}}</h5>
                </div>
                {{#if displayMessage}}
                    <div class="input-field col s12 center">
                        <h5 class="center red-text">{{displayMessage}}</h5>
                    </div>
                {{/if}}
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <a href="{{formUrl}}" class="btn waves-effect waves-light col s12 z-depth-0 ">
                        <i class="fa fa-sign-in left"></i>{{i18n "LOGIN_PASSWORD" locale=lang}}
                    </a>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <a href="{{facebookUrl}}" class="btn waves-effect waves-light col s12 blue darken-4 z-depth-0">
                        <i class="fa fa-facebook-f left"></i>{{i18n "LOGIN_FACEBOOK" locale=lang}}
                    </a>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <a href="{{googleUrl}}" class="btn waves-effect waves-light col s12 red z-depth-0">
                        <i class="fa fa-google-plus left"></i>{{i18n "LOGIN_GOOGLE" locale=lang}}
                    </a>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <a href="{{idCardUrl}}" class="btn waves-effect waves-light col s12 blue lighten-2 z-depth-0">
                        <i class="fa fa-id-card-o left"></i>{{i18n "LOGIN_IDCARD" locale=lang}}
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s3">
                    <a href="{{loginPage}}?lang=en">
                        <img src="/static/img/eng.svg" class="flag" id="lang-eng">
                    </a>
                </div>
                <div class="input-field col s3">
                    <a href="{{loginPage}}?lang=et">
                        <img src="/static/img/est.svg" class="flag" id="lang-est">
                    </a>
                </div>
                <div class="input-field col s3">
                    <a href="{{loginPage}}?lang=de">
                        <img src="/static/img/ger.svg" class="flag" id="lang-ger">
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/static/js/fallback.min.js"></script>
<script async type="text/javascript" src="/static/js/loaders/ui.js"></script>
<script async type="text/javascript" src="/static/js/loaders/page-center.js"></script>
<script async type="text/javascript" src="/static/js/pages/login.js"></script>
</body>
</html>