<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#E3F2FD">
    {{> templates/favicon.hbs}}
    <title>Movie Diary | {{i18n "NAVBAR_MOVIES" locale=lang}}</title>
    <link href="/static/css/custom/loader.min.css" type="text/css" rel="stylesheet" media="screen">
    <noscript>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              type="text/css" rel="stylesheet" media="screen">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"
              type="text/css" rel="stylesheet" media="screen">
        <link href="/static/css/clockpicker.css" type="text/css" rel="stylesheet" media="screen">
        <link href="/static/css/custom/base.css" type="text/css" rel="stylesheet" media="screen">
    </noscript>
</head>
<body class="blue lighten-5 bc-image" id="body">
<div class="black-screen" id="black-screen"></div>
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
{{> templates/navbar.hbs}}
<main>
    <h3 class="light grey-text text-lighten-1 page-heading truncate" id="movie-title">
        {{i18n "NAVBAR_MOVIES" locale=lang}}
    </h3>
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="row">
                <div class="col movies-search-bar m10 offset-m1 l6 offset-l3">
                    <div class="card z-depth-0 opacity-object">
                        <div class="search-wrapper input-field">
                            <input class="movies-search-bar movies-heading" tabindex="8" id="search" type="search"
                                   placeholder="{{i18n "MOVIES_SEARCH_FOR" locale=lang}}" required>
                            <label id="search-button" class="label-icon search-button" for="search">
                                <i class="fa fa-search left"></i></label>
                        </div>
                    </div>
                </div>
                <div class="col s12 m10 l10 offset-m1 offset-l1">
                    <div class="movie-search opacity-object" id="search-result" hidden>
                        <!-- Siia tuleb otsingu sisu jqueryga -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m12 l10 offset-l2">
                <div class="col s12 m3 l2">
                    <div class="row">
                        <div class="scale-transition scale-out hide-on-small-only" id="movie-poster-card"></div>
                    </div>
                    <div class="row">
                        <div class="card z-depth-0 scale-transition scale-out opacity-object show-end-time"
                             id="show-end-time">
                            <div class="card-content">
                                <a>
                                    <div class="center grey-text text-darken-1">{{i18n "MOVIES_END_TIME_TEXT"
                                                                                       locale=lang}}
                                    </div>
                                    <div id="show-end-time-text" class="end-time center"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="col card s12 m12 l12 z-depth-0 scale-transition scale-out opacity-object"
                         id="basic-info-box">
                        <div class="card-content">
                            <h5>{{i18n "MOVIES_BASIC_INFO" locale=lang}}</h5>
                            <table class="bordered">
                                <tbody>
                                <tr>
                                    <td class="grey-text">{{i18n "MOVIES_YEAR" locale=lang}}</td>
                                    <td class="grey-text content-key" id="year"></td>
                                </tr>
                                <tr>
                                    <td class="grey-text">{{i18n "MOVIES_RELEASE" locale=lang}}</td>
                                    <td class="grey-text content-key" id="release"></td>
                                </tr>
                                <tr>
                                    <td class="grey-text">{{i18n "MOVIES_RUNTIME" locale=lang}}</td>
                                    <td class="grey-text content-key" id="runtime"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col card s12 m12 l12 z-depth-0 scale-transition scale-out opacity-object"
                         id="crew-box">
                        <div class="card-content">
                            <h5>{{i18n "MOVIES_CREW" locale=lang}}</h5>
                            <div class="grey-text">
                                <div id="actors"></div>
                                <br>
                                <div id="crew"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col card s12 m12 l12 scale-transition scale-out opacity-object z-depth-0" id="plot">
                        <ul class="collapsible z-depth-0" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header">
                                    <h5 class="plot-title">{{i18n "MOVIES_OVERVIEW" locale=lang}}</h5>
                                    <h6 class="grey-text text-darken-2">{{i18n "MOVIES_CLICK_TO_OPEN" locale=lang}}</h6>
                                </div>
                                <div class="collapsible-body white">
                                    <span class="grey-text text-darken-2" id="plot-text"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col card s12 m12 l12 z-depth-0 scale-transition scale-out opacity-object"
                         id="seen-times">
                        <div class="card-content">
                            <h5 id="seen-header" class="grey-text"></h5>
                            <table>
                                <tbody id="movie-views-table">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col s12 m5 l4">
                    <div class="col s12 m12 l12 z-depth-0 scale-transition scale-out" id="trailer-box">
                        <iframe id="movie-trailer" class="trailer-container" allowfullscreen frameborder="0">
                        </iframe>
                    </div>
                    <div class="card col s12 m12 l12 z-depth-0 scale-transition scale-out opacity-object"
                         id="add-info-box">
                        <div class="card-content">
                            <h5>{{i18n "MOVIES_ADDITIONAL_INFO" locale=lang}}</h5>
                            <table class="bordered">
                                <tbody>
                                <tr>
                                    <td class="grey-text">{{i18n "MOVIES_LANGUAGE" locale=lang}}</td>
                                    <td class="grey-text content-key" id="language"></td>
                                </tr>
                                <tr>
                                    <td class="grey-text">{{i18n "MOVIES_GENRE" locale=lang}}</td>
                                    <td class="grey-text content-key" id="genre"></td>
                                </tr>
                                <tr>
                                    <td class="grey-text">{{i18n "MOVIES_BUDGET" locale=lang}}</td>
                                    <td class="grey-text content-key" id="budget"></td>
                                </tr>
                                <tr>
                                    <td class="grey-text">{{i18n "MOVIES_BOX_OFFICE" locale=lang}}</td>
                                    <td class="grey-text content-key" id="revenue"></td>
                                </tr>
                                <tr>
                                    <td class="grey-text">{{i18n "MOVIES_COUNTRY" locale=lang}}</td>
                                    <td class="grey-text content-key" id="country"></td>
                                </tr>
                                <tr>
                                    <td class="grey-text">{{i18n "MOVIES_RATING" locale=lang}}</td>
                                    <td class="grey-text content-key" id="rating"></td>
                                </tr>
                                <tr>
                                    <td class="grey-text">{{i18n "MOVIES_AWARDS" locale=lang}}</td>
                                    <td class="grey-text content-key" id="awards"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table>
                                <tbody>
                                <tr>
                                    <td class="center oscar-container" id="oscar-container">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Add view -->
                    <div class="card col s12 m12 l12 z-depth-0 opacity-object add-view-card" >
                        <ul class="collapsible z-depth-0" data-collapsible="accordion" id="add-view-coll">
                            <li>
                                <div class="collapsible-header" id="add-view-open">
                                    <h5 class="plot-title">{{i18n "MOVIES_ADD_TO_WATCH" locale=lang}}</h5>
                                </div>
                                <div class="collapsible-body collapsible-body-viewing white">
                                    <!-- Start -->
                                    <div class="row">
                                        <div class="start-side-title">Start</div>
                                        <div class="add-view-date-time">
                                            <div class="input-field">
                                                <input id="watchStartDay" type="text" class="datepicker">
                                                <label for="watchStartDay">{{i18n "HISTORY_DATE" locale=lang}}</label>
                                            </div>
                                            <div class="input-field">
                                                <label for="watchStartTime">{{i18n "HISTORY_TIME" locale=lang}}</label>
                                                <input id="watchStartTime" type="text" class="timepicker">
                                            </div>
                                        </div>
                                        <div class="input-field">
                                            <button id="watchStartNow" type="submit"
                                                    class="btn waves-effect waves-light z-depth-0">
                                                {{i18n "MOVIES_NOW" locale=lang}}
                                            </button>
                                            <button id="watchStartCalculate" type="submit"
                                                    class="btn waves-effect waves-light z-depth-0 tooltipped"
                                                    data-position="right"
                                                    data-tooltip="{{i18n "CALCULATE_START_TOOLTIP" locale=lang}}">
                                                {{i18n "MOVIES_CALCULATE" locale=lang}}
                                            </button>
                                        </div>
                                    </div>
                                    <!-- End -->
                                    <div class="row">
                                        <div class="start-side-title">End</div>
                                        <div class="add-view-date-time">
                                            <div class="input-field">
                                                <input id="watchEndDay" type="text" class="datepicker">
                                                <label for="watchEndDay">{{i18n "HISTORY_DATE" locale=lang}}</label>
                                            </div>
                                            <div class="input-field">
                                                <label for="watchEndTime">{{i18n "HISTORY_TIME" locale=lang}}</label>
                                                <input id="watchEndTime" type="text" class="timepicker">
                                            </div>
                                        </div>
                                        <div class="input-field">
                                            <button id="watchEndNow" type="submit"
                                                    class="btn waves-effect waves-light z-depth-0">
                                                {{i18n "MOVIES_NOW" locale=lang}}
                                            </button>
                                            <button id="watchEndCalculate" type="submit"
                                                    class="btn waves-effect waves-light z-depth-0 tooltipped"
                                                    data-position="right"
                                                    data-tooltip="{{i18n "CALCULATE_END_TOOLTIP" locale=lang}}">
                                                {{i18n "MOVIES_CALCULATE" locale=lang}}
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field">
                                            <input id="watchSeenFirst" type="checkbox">
                                            <label for="watchSeenFirst" class="tooltipped"
                                                   data-position="right"
                                                   data-tooltip="{{i18n "MOVIES_WAS_FIRST_TOOLTIP" locale=lang}}">
                                                {{i18n "HISTORY_WAS_FIRST" locale=lang}}
                                            </label>
                                        </div>
                                        <div class="input-field">
                                            <input id="watchWasCinema" type="checkbox">
                                            <label for="watchWasCinema" class="tooltipped"
                                                   data-position="right"
                                                   data-tooltip="{{i18n "MOVIES_WAS_CINEMA_TOOLTIP" locale=lang}}">
                                                {{i18n "HISTORY_WAS_CINEMA" locale=lang}}
                                            </label>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="row">
                                        <a class="waves-effect waves-green btn z-depth-0 blue" id="add-btn">
                                            {{i18n "MOVIES_ADD" locale=lang}}
                                        </a>
                                        <a class="waves-effect waves-green btn z-depth-0 red" id="add-cancel">
                                            {{i18n "MOVIES_CANCEL" locale=lang}}
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col card s12 m12 l12 z-depth-0 scale-transition scale-out opacity-object"
                         id="add-wishlist">
                        <div class="card-content">
                            <h5><a class="home-link cursor black-text" href="{{listsPage}}">
                                {{i18n "NAVBAR_LISTS" locale=lang}}</a>
                            </h5>
                            <table class="bordered">
                                <tbody id="lists-table">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{> templates/footer.hbs}}
<script defer type="text/javascript" src="/static/js/custom/loader.js"></script>
<script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script defer type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script defer type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script defer type="text/javascript" src="/static/js/custom/vertx-eventbus.js"></script>
<script defer type="text/javascript" src="/static/js/custom/clockpicker.js"></script>
<script defer type="text/javascript" src="/static/js/pages/movies.js"></script>
<script defer type="text/javascript" src="/static/js/pages/apiUtils.js"></script>
</body>
</html>