<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#E3F2FD">
    <title>{{i18n "NAVBAR_MOVIES" locale=lang}}</title>
    <link href="/static/css/custom/loader.min.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/static/css/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/static/css/custom/materialize.min.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/static/css/clockpicker.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/static/css/custom/base.css" type="text/css" rel="stylesheet" media="screen">
</head>
<body class="blue lighten-5 bc-image" id="body">
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
{{> templates/navbar.hbs}}
<h3 class="light grey-text text-lighten-1 page-heading truncate" id="movie-title">{{i18n "NAVBAR_MOVIES" locale=lang}}</h3>
<div class="row">
    <div class="col s12 m12 l12">
        <div class="row">
            <div class="col movies-search-bar m10 offset-m1 l6 offset-l3">
                <div class="card z-depth-0 opacity-object">
                    <div class="search-wrapper input-field">
                        <input class="movies-search-bar movies-heading" tabindex="8" id="search" type="search"
                               placeholder="{{i18n "MOVIES_SEARCH_FOR" locale=lang}}" required>
                        <label id="search-button" class="label-icon search-button" for="search">
                            <i class="fa fa-search left"></i></label>
                    </div>
                </div>
                <ul class="collection movie-search opacity-object" id="search-result" hidden>
                    <!-- Siia tuleb otsingu sisu jqueryga -->
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m12 l10 offset-l2">
            <div class="col s12 m3 l2 scale-transition scale-out hide-on-small-only" id="movie-poster-card"></div>
            <div class="col s12 m4 l4">
                <div class="col card s12 m12 l12 z-depth-0 scale-transition scale-out opacity-object"
                     id="basic-info-box">
                    <div class="card-content">
                        <h5>{{i18n "MOVIES_BASIC_INFO" locale=lang}}</h5>
                        <table class="bordered">
                            <tbody>
                            <tr>
                                <td class="grey-text">{{i18n "MOVIES_YEAR" locale=lang}}</td>
                                <td class="grey-text content-key" id="year"></td>
                            </tr>
                            <tr>
                                <td class="grey-text">{{i18n "MOVIES_RELEASE" locale=lang}}</td>
                                <td class="grey-text content-key" id="release"></td>
                            </tr>
                            <tr>
                                <td class="grey-text">{{i18n "MOVIES_RUNTIME" locale=lang}}</td>
                                <td class="grey-text content-key" id="runtime"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col card s12 m12 l12 z-depth-0 scale-transition scale-out opacity-object" id="seen-times">
                    <div class="card-content">
                        <h5 id="seen-header" class="grey-text"></h5>
                        <table>
                            <tbody id="movie-views-table">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col card s12 m12 l12 scale-transition scale-out opacity-object z-depth-0" id="plot">
                    <ul class="collapsible z-depth-0" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">
                                <h5 class="plot-title">{{i18n "MOVIES_OVERVIEW" locale=lang}}</h5>
                                <h6 class="grey-text text-darken-2">{{i18n "MOVIES_CLICK_TO_OPEN" locale=lang}}</h6>
                            </div>
                            <div class="collapsible-body white">
                                <span class="grey-text text-darken-2" id="plot-text"></span>
                                <span class="grey-text text-darken-2" id="plot-text"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m5 l4">
                <div class="card s12 m12 l12 z-depth-0 scale-transition scale-out opacity-object" id="add-info-box">
                    <div class="card-content">
                        <h5>{{i18n "MOVIES_ADDITIONAL_INFO" locale=lang}}</h5>
                        <table class="bordered">
                            <tbody>
                            <tr>
                                <td class="grey-text">{{i18n "MOVIES_LANGUAGE" locale=lang}}</td>
                                <td class="grey-text content-key" id="language"></td>
                            </tr>
                            <tr>
                                <td class="grey-text">{{i18n "MOVIES_GENRE" locale=lang}}</td>
                                <td class="grey-text content-key" id="genre"></td>
                            </tr>
                            <tr>
                                <td class="grey-text">{{i18n "MOVIES_BUDGET" locale=lang}}</td>
                                <td class="grey-text content-key" id="budget"></td>
                            </tr>
                            <tr>
                                <td class="grey-text">{{i18n "MOVIES_BOX_OFFICE" locale=lang}}</td>
                                <td class="grey-text content-key" id="revenue"></td>
                            </tr>
                            <tr>
                                <td class="grey-text">{{i18n "MOVIES_COUNTRY" locale=lang}}</td>
                                <td class="grey-text content-key" id="country"></td>
                            </tr>
                            <tr>
                                <td class="grey-text">{{i18n "MOVIES_RATING" locale=lang}}</td>
                                <td class="grey-text content-key" id="rating"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Modal Trigger -->
                <div class="card s12 m12 l12 z-depth-0 scale-transition scale-out opacity-object add-wishlist"
                     tabindex="8" id="add-watch">
                    <div class="card-content">
                        <a class="grey-text content-key">
                            {{i18n "MOVIES_ADD_TO_WATCH" locale=lang}}</a>
                    </div>
                </div>

                <!-- Modal Structure -->
                <div id="modal1" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h5>{{i18n "MOVIES_ADD_TO_WATCH" locale=lang}}</h5>
                        <hr>
                        <div class="row">
                            <div class="col s12 m10 offset-m1 l10 offset-l1">
                                <!-- Start -->
                                <div class="row">
                                    <div class="col s12 m12 l12">
                                        <h5 class="grey-text">{{i18n "START_OF_VIEWING" locale=lang}}</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m6 l5">
                                        <div class="input-field">
                                            <input id="watchStartDay" type="text" class="datepicker">
                                            <label for="watchStartDay">{{i18n "HISTORY_DATE" locale=lang}}</label>
                                        </div>
                                    </div>
                                    <div class="col s12 m6 l5">
                                        <div class="input-field">
                                            <label for="watchStartTime">{{i18n "HISTORY_TIME" locale=lang}}</label>
                                            <input id="watchStartTime" type="time" class="timepicker">
                                        </div>
                                    </div>
                                    <div class="col s6 m6 l2">
                                        <div class="input-field">
                                            <button id="watchStartNow" type="submit"
                                                    class="btn waves-effect waves-light z-depth-0">
                                                {{i18n "MOVIES_NOW" locale=lang}}
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col s12 m12 l12">
                                        <div class="input-field">
                                            <button id="watchStartCalculate" type="submit"
                                                    class="btn waves-effect waves-light z-depth-0 tooltipped"
                                                    data-position="right"
                                                    data-tooltip="{{i18n "CALCULATE_START_TOOLTIP" locale=lang}}">
                                                {{i18n "MOVIES_CALCULATE" locale=lang}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m10 offset-m1 l10 offset-l1">
                                <!-- End -->
                                <div class="row">
                                    <div class="col s12 m12 l12">
                                        <h5 class="grey-text">{{i18n "END_OF_VIEWING" locale=lang}}</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m6 l5">
                                        <div class="input-field">
                                            <input id="watchEndDay" type="text" class="datepicker">
                                            <label for="watchEndDay">{{i18n "HISTORY_DATE" locale=lang}}</label>
                                        </div>
                                    </div>
                                    <div class="col s12 m6 l5">
                                        <div class="input-field">
                                            <label for="watchEndTime">{{i18n "HISTORY_TIME" locale=lang}}</label>
                                            <input id="watchEndTime" type="time" class="timepicker">
                                        </div>
                                    </div>
                                    <div class="col s6 m6 l2">
                                        <div class="input-field">
                                            <button id="watchEndNow" type="submit"
                                                    class="btn waves-effect waves-light z-depth-0">
                                                {{i18n "MOVIES_NOW" locale=lang}}
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col s12 m12 l12">
                                        <div class="input-field">
                                            <button id="watchEndCalculate" type="submit"
                                                    class="btn waves-effect waves-light z-depth-0 tooltipped"
                                                    data-position="right"
                                                    data-tooltip="{{i18n "CALCULATE_END_TOOLTIP" locale=lang}}">
                                                {{i18n "MOVIES_CALCULATE" locale=lang}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m10 offset-m1 l10 offset-l1">
                                <div class="row">
                                    <div class="input-field">
                                        <input id="watchSeenFirst" type="checkbox">
                                        <label for="watchSeenFirst" class="tooltipped"
                                               data-position="right"
                                               data-tooltip="{{i18n "MOVIES_WAS_FIRST_TOOLTIP" locale=lang}}">
                                            {{i18n "HISTORY_WAS_FIRST" locale=lang}}
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field">
                                        <input id="watchWasCinema" type="checkbox">
                                        <label for="watchWasCinema" class="tooltipped"
                                               data-position="right"
                                               data-tooltip="{{i18n "MOVIES_WAS_CINEMA_TOOLTIP" locale=lang}}">
                                            {{i18n "HISTORY_WAS_CINEMA" locale=lang}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m10 offset-m1 l10 offset-l1">
                                <textarea id="watchComment" class="materialize-textarea" data-length="500"></textarea>
                                <label for="watchComment">{{i18n "MOVIES_COMMENT" locale=lang}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-action waves-effect waves-green btn-flat" id="add-btn">{{i18n "MOVIES_ADD" locale=lang}}</a>
                        <a class="modal-action modal-close waves-effect waves-green btn-flat">{{i18n "MOVIES_CANCEL" locale=lang}}</a>
                    </div>
                </div>
                <div class="card s12 m12 l12 z-depth-0 scale-transition scale-out opacity-object add-wishlist"
                     tabindex="9" id="add-wishlist">
                    <div class="card-content">
                        <a class="grey-text content-key" id="wishlist-text">
                            {{i18n "MOVIES_ADD_WISHLIST" locale=lang}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script defer type="text/javascript" src="/static/js/jquery.min.js"></script>
<script defer type="text/javascript" src="/static/js/custom/materialize.min.js"></script>
<script defer type="text/javascript" src="/static/js/sockjs.min.js"></script>
<script defer type="text/javascript" src="/static/js/custom/vertx-eventbus.js"></script>
<script defer type="text/javascript" src="/static/js/custom/clockpicker.js"></script>
<script defer type="text/javascript" src="/static/js/common.js"></script>
<script defer type="text/javascript" src="/static/js/pages/movies.js"></script>
<script async type="text/javascript" src="/static/js/load-worker.js"></script>
</body>
</html>