<header id="header">
    <nav class="cyan z-depth-0" id="navbar-background">
        <div id="nav-bar">
            <ul class="hide-on-med-and-down">
                <li>
                    <a href="{{userPage}}" class="opacity-object-full waves-effect waves-cyan white grey-text btn z-depth-0">
                        <i class="fa fa-user left grey-text"></i>{{i18n "NAVBAR_ME" locale=lang}}
                    </a>
                </li>
                <li>
                    <a href="{{homePage}}" class="opacity-object-full waves-effect waves-cyan white grey-text btn z-depth-0">
                        <i class="fa fa-home left grey-text"></i>{{i18n "NAVBAR_HOME" locale=lang}}
                    </a>
                </li>
                <li>
                    <a href="{{moviesPage}}" class="opacity-object-full waves-effect waves-cyan white grey-text btn z-depth-0">
                        <i class="fa fa-film left grey-text"></i>{{i18n "NAVBAR_MOVIES" locale=lang}}
                    </a>
                </li>
                <li>
                    <a href="{{historyPage}}" class="opacity-object-full waves-effect waves-cyan white grey-text btn z-depth-0">
                        <i class="fa fa-calendar left grey-text"></i>{{i18n "NAVBAR_HISTORY" locale=lang}}
                    </a>
                </li>
                <li>
                    <a href="{{statisticsPage}}" class="opacity-object-full waves-effect waves-cyan white grey-text btn z-depth-0">
                        <i class="fa fa-bar-chart left grey-text"></i>{{i18n "NAVBAR_STATISTICS" locale=lang}}
                    </a>
                </li>
                <li>
                    <a href="{{wishlistPage}}" class="opacity-object-full waves-effect waves-cyan white grey-text btn z-depth-0">
                        <i class="fa fa-list-ol left grey-text"></i>{{i18n "NAVBAR_WISHLIST" locale=lang}}
                    </a>
                </li>
                <li>
                    <a href="{{donatePage}}" class="opacity-object-full waves-effect waves-cyan white grey-text btn z-depth-0">
                        <i class="fa fa-list-ol left grey-text"></i>{{i18n "NAVBAR_DONATE" locale=lang}}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav leftside-navigation">
        <li>
            <a href="{{userPage}}" class="waves-effect waves-cyan grey-text darken-3">
                <i class="fa fa-user left grey-text darken-3"></i>{{userName}}
            </a>
        </li>
        <li>
            <a href="{{homePage}}" class="waves-effect waves-cyan grey-text darken-3">
                <i class="fa fa-home left grey-text darken-3"></i>{{i18n "NAVBAR_HOME" locale=lang}}
            </a>
        </li>
        <li>
            <a href="{{moviesPage}}" class="waves-effect waves-cyan grey-text darken-3">
                <i class="fa fa-film left grey-text darken-3"></i>{{i18n "NAVBAR_MOVIES" locale=lang}}
            </a>
        </li>
        <li class="bold">
            <a href="{{historyPage}}" class="waves-effect waves-cyan grey-text darken-3">
                <i class="fa fa-calendar left grey-text darken-3"></i>{{i18n "NAVBAR_HISTORY" locale=lang}}
            </a>
        </li>
        <li class="bold">
            <a href="{{statisticsPage}}" class="waves-effect waves-cyan grey-text darken-3">
                <i class="fa fa-bar-chart left grey-text darken-3"></i>{{i18n "NAVBAR_STATISTICS" locale=lang}}
            </a>
        </li>
        <li class="bold">
            <a href="{{wishlistPage}}" class="waves-effect waves-cyan grey-text darken-3">
                <i class="fa fa-list-ol left grey-text darken-3"></i>{{i18n "NAVBAR_WISHLIST" locale=lang}}
            </a>
        </li>
        <li>
            <a href="{{donatePage}}" class="waves-effect waves-cyan grey-text darken-3">
                <i class="fa fa-list-ol left grey-text darken-3"></i>{{i18n "NAVBAR_DONATE" locale=lang}}
            </a>
        </li>
    </ul>
    <a href="#" data-activates="slide-out"
       class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan">
        <i class="fa fa-bars"></i>
    </a>
</aside>