<header id="header">
    <nav class="cyan z-depth-0" id="navbar-background">
        <div id="nav-bar">
            <!--<img class="sidebar-collapse" src="/static/img/logo.svg" width="140">-->
            <ul class="hide-nav-bar">
                <li>
                    <a href="{{userPage}}" tabindex="1" class="navbar-text" id="navbar-user">{{i18n "NAVBAR_ME" locale=lang}}</a>
                </li>
                <li>
                    <a href="{{homePage}}" tabindex="2" class="navbar-text" id="navbar-home">{{i18n "NAVBAR_HOME" locale=lang}}</a>
                </li>
                <li>
                    <a href="{{moviesPage}}" tabindex="3" class="navbar-text" id="navbar-movies">{{i18n "NAVBAR_MOVIES" locale=lang}}</a>
                </li>
                <li>
                    <a href="{{seriesPage}}" tabindex="4" class="navbar-text" id="navbar-series">{{i18n "NAVBAR_SERIES" locale=lang}}</a>
                </li>
                <li>
                    <a href="{{historyPage}}" tabindex="5" class="navbar-text" id="navbar-history">{{i18n "NAVBAR_HISTORY" locale=lang}}</a>
                </li>
                <li>
                    <a href="{{statisticsPage}}" tabindex="6" class="navbar-text" id="navbar-statistics">{{i18n "NAVBAR_STATISTICS" locale=lang}}</a>
                </li>
                <li>
                    <a href="{{wishlistPage}}" tabindex="7" class="navbar-text" id="navbar-wishlist">{{i18n "NAVBAR_WISHLIST" locale=lang}}</a>
                </li>
                <!--<li>
                    <a href="{{discoverPage}}" tabindex="8"
                       class="opacity-object-full btn white z-depth-0 tooltipped"
                       data-position="bottom"
                       data-tooltip="Discover">
                        <i class="fa fa-search grey-text fa-2x"></i>
                    </a>
                </li>-->
            </ul>
        </div>
    </nav>
</header>
<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav leftside-navigation">
        <li>
            <a href="{{userPage}}" tabindex="1" class="waves-effect waves-cyan grey-text darken-3">
                <i class="fa fa-user left grey-text darken-3"></i>{{userName}}
            </a>
        </li>
        <li>
            <a href="{{homePage}}" tabindex="2" class="waves-effect waves-cyan grey-text darken-3">
                <i class="fa fa-home left grey-text darken-3"></i>{{i18n "NAVBAR_HOME" locale=lang}}
            </a>
        </li>
        <li>
            <a href="{{moviesPage}}" tabindex="3" class="waves-effect waves-cyan grey-text darken-3">
                <i class="fa fa-film left grey-text darken-3"></i>{{i18n "NAVBAR_MOVIES" locale=lang}}
            </a>
        </li>
        <li>
            <a href="{{seriesPage}}" tabindex="4" class="waves-effect waves-cyan grey-text darken-3">
                <i class="fa fa-tv left grey-text darken-3"></i>{{i18n "NAVBAR_SERIES" locale=lang}}
            </a>
        </li>
        <li class="bold">
            <a href="{{historyPage}}" tabindex="5" class="waves-effect waves-cyan grey-text darken-3">
                <i class="fa fa-calendar-o left grey-text darken-3"></i>{{i18n "NAVBAR_HISTORY" locale=lang}}
            </a>
        </li>
        <li class="bold">
            <a href="{{statisticsPage}}" tabindex="6" class="waves-effect waves-cyan grey-text darken-3">
                <i class="fa fa-bar-chart left grey-text darken-3"></i>{{i18n "NAVBAR_STATISTICS" locale=lang}}
            </a>
        </li>
        <li class="bold">
            <a href="{{wishlistPage}}" tabindex="7" class="waves-effect waves-cyan grey-text darken-3">
                <i class="fa fa-list-ol left grey-text darken-3"></i>{{i18n "NAVBAR_WISHLIST" locale=lang}}
            </a>
        </li>
        <!--<li class="bold">
            <a href="{{discoverPage}}" tabindex="8" class="waves-effect waves-cyan grey-text darken-3">
                <i class="fa fa-search left grey-text darken-3"></i>Discover
            </a>
        </li>-->
    </ul>
    <a href="#" data-activates="slide-out"
       class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-menu-button cyan">
        <i class="fa fa-bars"></i>
    </a>
</aside>