<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#E3F2FD">
    <title>{{i18n "NAVBAR_ME" locale=lang}}</title>
    <link href="/static/css/custom/loader.css" type="text/css" rel="stylesheet" media="screen">
</head>
<body class="blue lighten-5">
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
{{> templates/navbar.hbs}}
<h3 class="light grey-text text-lighten-1 page-heading">{{userName}}</h3>
<div class="input-field col s12">
    <a href="{{logoutUrl}}" class="btn waves-effect waves-light col s12 btn red logout-button z-depth-0">
        <i class="fa fa-sign-out left re"></i>{{i18n "USER_LOGOUT" locale=lang}}
    </a>
    <a href="#" id="UserCount" class="btn waves-effect waves-light col s12 btn red logout-button z-depth-0">
        User Count: Loading...
    </a>
</div>
<script type="text/javascript" src="/static/js/fallback.min.js"></script>
<script async type="text/javascript" src="/static/js/loaders/ui.js"></script>
<script async type="text/javascript" src="/static/js/pages/user.js"></script>
</body>
</html>